html{
    background-color: #e5e5e5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 15px;
}
body{
    width: 1024px;
    margin: 0 auto;
}
#top {
    background-color: #222;
    color: #fff;
    height: 20px;
    padding: 5px 50px 1px 110px;
}
#top img{
    width: 10px;
}
#lang{
    float: right;;
}
#lang span{
    margin: 0 10px 0 0 ;
}
#top2{
    height: 62px;
    background: #f0a83e;
}
#logo{
    padding: 20px 0 20px 60px;
    float: left;
}

nav{
    float: right;
    padding: 20px 50px;
}
nav a{
    text-decoration: none;
    color: #fff;
    margin: 0 0 0 10px ;
}
nav img{
    width: 20px;
    vertical-align: text-top;
}
#banner{
    background-image: url(../img/bowl.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 409px;
}
#bn1{
    height: 35px;
    font-size: 29px;
    line-height: 30px;
    text-align: center;
    color: #3C2313;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 340px;
    float: right;
    margin: 158px 18px 0 0;
}
#bn2{
    height: 35px;
    font-size: 16px;
    line-height: 19px;
    color: #3C2313;
    width: 285px;
    float: right;
    clear: both;
    margin-bottom: 0;
}
#bn3{
    font-size: 16px;
    line-height: 49px;
    text-align: center;
    width: 141px;
    height: 49px;
    background: #F0A83E;
    border-radius: 5px;
    color: #FFFFFF;
    clear: both;
    float: right;
    margin: 0 117px;
}
#destacados{
    background:#fff;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 16px;
    line-height: 18px;
    color: #666;
}
#destacados h1{
    font-size: 40px;
    line-height: 47px;
    color: #3C2313;
    margin: 0 0  20px 0;
}
#destacados span{
    margin: 0 10px;
}
.productos{
    display: inline-block;
    margin-top: 40px;
    background-color: #faf9f5;
}
.titulo{
    font-size: 15px;
    font-weight: 600;
    line-height: 5px;
    color: #3C2313;
}
.precio{
    font-size: 15px;
    font-weight: 500;
    line-height: 5px;
    color: #F0A83E;
}
#form{
    background:#fff;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 40px 0 20px 0;
    font-size: 16px;
    line-height: 18px;
    color: #666;
}
#form h1{
    font-size: 25px;
    line-height: 29px;
    color: #3C2313;
    margin: 0 0  20px 0;
}
.form{
    width: 340px;
    height: 40px;
    background: #3C2313;
    border-radius: 15px;
    color: #fff;
    margin: 5px;
}
#contacto input::placeholder{
    color: #fff;
    padding: 5px 20px;
}
.reset{
    width: 110px;
    height: 34px;
    background: #8A8787;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    line-height: 19px; 
    border: none; 
    margin: 35px 10px;  
}
.send{
    width: 110px;
    height: 34px;
    background: #F0A83E;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    line-height: 19px; 
    border: none;   
}
#suscripcion{
    background: #F0A83E;
    height: 60px;   
}
#suscripcion div{
    padding: 20px;
    float: left;
}
#suscripcion span{
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    color: #FFFFFF;
    
}
#suscripcion img{    
    vertical-align: text-bottom;
    margin: 0 10px 0 0;
}
#rss{
    float: right;
    margin: 10px 30px;
}
.correo{
    width: 270px;
    height: 40px;
    border-radius: 15px;
    color: #000;
    border: none;
}
#rss input::placeholder{
    padding: 5px 20px;
}
.suscribirme{
    width: 80px;
    height: 40px;
    background: #3C2313;
    border-radius: 15px;
    color: #fff;
    font-size: 12px;
    line-height: 19px; 
    border: none;   
}
#datos{
    height: 284px;
    background: #3C2313;
}
#info{
    padding: 10px 50px;
}
.logo-footer{
    float: right !important;
    margin-top: 120px;
}
.tit{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.desc{
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #8A8787;
}
#info img{
    vertical-align: text-top;
    float: left;
    margin-right: 20px;
}
#info div{
    margin: 20px;
    display: flow-root;
}
#copy{
    background: #222;
    color: #fff;
    text-align:center;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
}