html{
    background-color: #e5e5e5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 15px;
}
body{
    max-width: 1024px;
    margin: 0 auto;
}
#top {
    background-color: #222;
    color: #fff;
    height: 20px;
    padding: 5px 50px 1px 110px;
}
#top img{
    width: 10px;
}
#lang{
    float: right;
}
#lang span{
    margin: 0 10px 0 0 ;
}
#top2{
    height: 62px;
    background: #f0a83e;
    position: sticky !important;
        top: 0;
}
#logo{
    padding: 20px 0 20px 60px;
    float: left;
}

nav{
    float: right;
    padding: 20px 50px;
}
nav a{
    text-decoration: none;
    color: #fff;
    margin: 0 0 0 10px ;
}
nav a:before{
    font-family: FontAwesome;
    content: "\f1b0";
}
nav a:hover{
    color: #222;
    font-size: 1.2rem;
}
nav img{
    width: 20px;
    vertical-align: text-top;
}
#banner{
    background-image: url(../img/bowl.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 409px;
}
#bn1{
    height: 35px;
    font-size: 29px;
    line-height: 30px;
    text-align: center;
    color: #3C2313;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 340px;
    float: right;
    margin: 158px 18px 0 0;
}
#bn2{
    height: 35px;
    font-size: 16px;
    line-height: 19px;
    color: #3C2313;
    width: 285px;
    float: right;
    clear: both;
    margin-bottom: 0;
}
#bn3{
    font-size: 16px;
    line-height: 49px;
    text-align: center;
    width: 141px;
    height: 49px;
    background: #F0A83E;
    border-radius: 5px;
    color: #FFFFFF;
    clear: both;
    float: right;
    margin: 0 117px;
}
#bn3:hover{
    cursor: pointer;    
    background: #222;
}
#destacados{
    background:#fff;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 16px;
    line-height: 18px;
    color: #666;
}
#destacados h1{
    font-size: 40px;
    line-height: 47px;
    color: #3C2313;
    margin: 0 0  20px 0;
}
#destacados span{
    margin: 0 20px;
}
#destacados span:hover{
    color: #F0A83E;
    font-size: 1.5rem;
    cursor: pointer;
}
.productos{
    display: inline-block;
    margin-top: 40px;
    background-color: #faf9f5;
}
.productos img:hover{
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.titulo{
    font-size: 15px;
    font-weight: 600;
    line-height: 5px;
    color: #3C2313;
}
.precio{
    font-size: 15px;
    font-weight: 500;
    line-height: 5px;
    color: #F0A83E;
}
#form{
    background:#fff;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 40px 0 20px 0;
    font-size: 16px;
    line-height: 18px;
    color: #666;
}
#form h1{
    font-size: 25px;
    line-height: 29px;
    color: #3C2313;
    margin: 0 0  20px 0;
}
.form{
    width: 340px;
    height: 40px;
    background: #3C2313;
    border-radius: 15px;
    color: #fff;
    margin: 5px;
}
#contacto input::placeholder{
    color: #fff;
    padding: 5px 20px;

}
#contacto input:focus{
    background: #f0a83e;
    color: #222;
    outline: none;
    box-shadow: 0px 5px 5px #000;
}
.reset{
    width: 110px;
    height: 34px;
    background: #8A8787;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    line-height: 19px; 
    border: none; 
    margin: 35px 10px;  
}
.reset:hover{
    font-size: large;
    width: 120px;
    height: 44px;
    position: relative;
    background: #222;
    color: #fff;
    cursor: pointer;
}
.send{
    width: 110px;
    height: 34px;
    background: #F0A83E;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    line-height: 19px; 
    border: none;   
}
.send:hover{
    font-size: large;
    width: 120px;
    height: 44px;
    position: relative;
    background: #222;
    color: #fff;
    cursor: pointer;
}
#suscripcion{
    background: #F0A83E;
    height: 60px;   
}
#suscripcion div {
    padding: 20px 0 20px 20px;
    float: left;
}
#suscripcion span{
    font-size: 20px;
    line-height: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    
}
#suscripcion span::before{
    content: url(../img/email.svg);
    margin-right: 1rem;
    height: 1rem;
    line-height: 1rem;
    vertical-align: middle;
}
#suscripcion img{    
    vertical-align: text-bottom;
    margin: 0 10px 0 0;
}
#rss{
    float: right;
    margin: 10px 30px;
}
.correo{
    width: 270px;
    height: 40px;
    border-radius: 15px;
    color: #000;
    border: none;
}
#rss input::placeholder{
    padding: 5px 20px;
}
.suscribirme{
    width: 80px;
    height: 40px;
    background: #3C2313;
    border-radius: 15px;
    color: #fff;
    font-size: 12px;
    line-height: 19px; 
    border: none;   
}
#datos{
    height: 284px;
    background: #3C2313;
}
#info{
    padding: 10px 50px;
}
.logo-footer{
    float: right !important;
    margin-top: 120px;
}
.tit{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.desc{
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #8A8787;
}
#info img{
    vertical-align: text-top;
    float: left;
    margin-right: 45px;
}
#info div{
    margin: 20px;
    display: flow-root;
}
#copy{
    background: #222;
    color: #fff;
    text-align:center;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
}
.social{
    color: #fff;
    float: right;
    position: relative;
    top: 144px;
    font-size: 20px;
    left: 212px;
}
.social i{
    margin: 0 10px;
}
.social i:hover{
    margin: 0 10px;
    color: #f0a83e;
}
.social a{
    text-decoration: none;
    color: #fff;
}
.bars{
    display: none !important;
}

@media (max-width: 380px){
    #suscripcion div {
        padding: 6px;
        float: none;
    }
    #rss {
        float: none;
        margin: 0px 1rem !important;
    }
    .correo {
        width: 60% !important;
        float: left;
    }
    #suscripcion {
        height: 87px !important;
    }
    .tit {
       
        font-size: 1.5rem !important;
    }
}

@media (max-width: 740px){

    #top {
        display: none;
    }
    nav{
        display: none;
    }

    .bars{
        display: block !important;
        float: right;
        margin: 20px 50px;
        font-size: 20px;
        color: #fff;
    }
    #top2{
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) !important;
        position: sticky !important;
        top: 0;
    }
    #bn2{
        background: #fff;
        padding: 5px;
        width: auto;
        margin-right: 95px;
        height: auto;
        margin-bottom: 15px;
    }

    #destacados h1 {
        font-size: 4rem;
        color: #3C2313;
        margin: 0 0 20px 0;
        line-height: 4rem;
    }
    #form h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        color: #3C2313;
        margin: 0 0 20px 0;
    }
    .reset {
        width: 48%;
        height: 4rem;
        background: #8A8787;
        border-radius: 4rem;
        color: #fff;
        font-size: 16px;
        line-height: 19px;
        border: none;
        margin: 35px 0px;
    }
    .send {
        width: 48%;
        height: 4rem;
        background: #F0A83E;
        border-radius: 4rem;
        color: #fff;
        font-size: 16px;
        line-height: 19px;
        border: none;
    }
    #suscripcion {
        background: #F0A83E;
        height: 120px;
        text-align: center;
    }
    #suscripcion div {
        float: none;
    }
    .correo {
        width: 65%;
        float: left;
    }
    #rss {
        float: none;
        margin: 0 2rem;
    }
    .suscribirme {
        width: auto;
        height: auto;
        background: #3C2313;
        border-radius: 15px;
        color: #fff;
        font-size: 1.2rem;
        line-height: 19px;
        border: none;
        font-weight: bold;
        padding: 0.8rem 1rem;
        float: right;
    }

    #datos {
        height: auto;
        background: #3C2313;
    }
    .logo-footer {
        float: none !important;
        margin-top: 0;
    }
    .social {
        position: inherit;
        float: none;
        text-align: center !important;
        height: auto !important;
        margin: 10px 0 40px 0 !important;
    }
    #info div {
        margin: 20px;
        display: block;
        height: 66px;
        text-align: left;
    }
    #info {
        padding: 10px;
        text-align: center;
    }
    #info img {
        vertical-align:unset;
        float: none;
        margin-right: 0;
    }
    #info div img {
        float: left;
        margin: 0px 10px 0 20px;
    }
    .tit {
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
        line-height: 3rem;
    }
    .desc {
        font-weight: bold;
        font-size: 1rem;
        line-height: 12px;
        color: #8A8787;
    }
    #logo {
        padding: 20px 0 20px 40px;
        float: left;
    }
    #bn1 {
    
        margin: 108px 0 0 0;
    }

    #destacados span {
        margin: 0 10px;
    }

}

@media (min-width: 741px) and (max-width: 790px){

    #rss {
        float: right;
        margin: 10px 10px;
    }
    #info div {
        margin: -10px 20px 20px 20px;
        display: flow-root;
        width: -moz-fit-content;
    }
    .social {
        
        top: 165px;
    }

}